<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://kit.fontawesome.com/40970735a4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">

    <h3><a href="/">TODAY LIST  <i class="fas fa-arrow-right"></i></a></h3>
</head>
